<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899128939467-etjii8qrdm03fkn0hjbcedo94ektpl51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899128939467-etjii8qrdm03fkn0hjbcedo94ektpl51</string>
	<key>API_KEY</key>
	<string>AIzaSyCPPUZHtlI3lpVQMvXtnI4sSB795qvmV4w</string>
	<key>GCM_SENDER_ID</key>
	<string>899128939467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pillar</string>
	<key>PROJECT_ID</key>
	<string>pil-lar</string>
	<key>STORAGE_BUCKET</key>
	<string>pil-lar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899128939467:ios:add03b5f47376396cd1c4e</string>
</dict>
</plist>